# This file is safe to commit. bootstrap.sh creates .env with generated secrets.
# Do not commit .env or put secrets in this repository.

COMPOSE_PROJECT_NAME=nextcloud
PROXY_NETWORK=proxy_net

NEXTCLOUD_TRUSTED_DOMAINS=cloud.itmitalles.de
TRUSTED_PROXIES=172.18.0.0/16
OVERWRITEPROTOCOL=https
OVERWRITECLIURL=https://cloud.itmitalles.de
TZ=Europe/Berlin

POSTGRES_DB=nextcloud
POSTGRES_USER=nextcloud
POSTGRES_PASSWORD=

NEXTCLOUD_ADMIN_USER=ncadmin
NEXTCLOUD_ADMIN_PASSWORD=

REDIS_PASSWORD=
